# Root ignores
node_modules/
dist/

# Nested app build/deps
Banking_System/Banking_system/node_modules/
Banking_System/Banking_system/dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS/editor
.DS_Store
Thumbs.db
.vscode/
.idea/
